---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.8 !default;

$spacing-unit:     40px !default;

$text-color:       #333 !default;
$background-color: #fdfdfd !default;
$brand-color:      #0b8f78 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1000px !default;

$on-palm:          600px !default;
$on-laptop: 800px !default;

@import "minima";

.highlight {
  
  background: #272822;

  & pre, & code {
    background: #272822;
  }

  .highlighter-rouge & {
    background: #272822;
  }

  table td { padding: 5px; }
  table pre { margin: 0; }
  .gh {
    color: #999999;
  }
  .sr {
    color: #f6aa11;
  }
  .go {
    color: #888888;
  }
  .gp {
    color: #555555;
  }
  .gs {
  }
  .gu {
    color: #aaaaaa;
  }
  .nb {
    color: #f6aa11;
  }
  .cm {
    color: #75715e;
  }
  .cp {
    color: #75715e;
  }
  .c1 {
    color: #75715e;
  }
  .cs {
    color: #75715e;
  }
  .c, .cd {
    color: #75715e;
  }
  .err {
    color: #960050;
  }
  .gr {
    color: #960050;
  }
  .gt {
    color: #960050;
  }
  .gd {
    color: #49483e;
  }
  .gi {
    color: #49483e;
  }
  .ge {
    color: #49483e;
  }
  .kc {
    color: #66d9ef;
  }
  .kd {
    color: #66d9ef;
  }
  .kr {
    color: #66d9ef;
  }
  .no {
    color: #66d9ef;
  }
  .kt {
    color: #66d9ef;
  }
  .mf {
    color: #ae81ff;
  }
  .mh {
    color: #ae81ff;
  }
  .il {
    color: #ae81ff;
  }
  .mi {
    color: #ae81ff;
  }
  .mo {
    color: #ae81ff;
  }
  .m, .mb, .mx {
    color: #ae81ff;
  }
  .sc {
    color: #ae81ff;
  }
  .se {
    color: #ae81ff;
  }
  .ss {
    color: #ae81ff;
  }
  .sd {
    color: #e6db74;
  }
  .s2 {
    color: #e6db74;
  }
  .sb {
    color: #e6db74;
  }
  .sh {
    color: #e6db74;
  }
  .si {
    color: #e6db74;
  }
  .sx {
    color: #e6db74;
  }
  .s1 {
    color: #e6db74;
  }
  .s {
    color: #e6db74;
  }
  .na {
    color: #a6e22e;
  }
  .nc {
    color: #a6e22e;
  }
  .nd {
    color: #a6e22e;
  }
  .ne {
    color: #a6e22e;
  }
  .nf {
    color: #a6e22e;
  }
  .vc {
    color: #ffffff;
  }
  .nn {
    color: #ffffff;
  }
  .nl {
    color: #ffffff;
  }
  .ni {
    color: #ffffff;
  }
  .bp {
    color: #ffffff;
  }
  .vg {
    color: #ffffff;
  }
  .vi {
    color: #ffffff;
  }
  .nv {
    color: #ffffff;
  }
  .w {
    color: #ffffff;
  }
  .highlight {
    color: #ffffff;
  }
  .n, .py, .nx {
    color: #ffffff;
  }
  .ow {
    color: #f92672;
  }
  .nt {
    color: #f92672;
  }
  .k, .kv {
    color: #f92672;
  }
  .kn {
    color: #f92672;
  }
  .kp {
    color: #f92672;
  }
  .o {
    color: #f92672;
  }
}


hr {
  margin: $spacing-unit*0.7 0;
  border: 0;
  border-top: 1px solid $grey-color-light;
}

.post-list > li {
  margin-bottom: $spacing-unit*0.5;
}

.site-header {
  border-top: 0;
}

a {
  &:hover {
    text-decoration: none;
  }
  &:visited {
    color: darken($brand-color, 5%);
  }
}

.post-title {
  border-bottom: 5px solid $brand-color;
  padding: $spacing-unit*2 0;
  margin-bottom: $spacing-unit*0.7;
  text-align: center;
}

span.caption {
  display: block;
  //text-align: center;
  color: grey;
  font-size: $base-font-size*0.9;
  font-style: italic;
  margin-top: $spacing-unit*0.1;
}

* {
  -moz-osx-font-smoothing: grayscale;
}

#introduction {
  @include media-query($on-palm) {  
    flex-direction: column;

    div:first-child {
      text-align: center;
      margin-bottom: $spacing-unit;
      img {
        width: 150px !important;
      }
    }
  }
}

.post-content h1 {
  font-size: 35px;
  font-weight: bold;
  line-height: 3rem;
}

video {
  width: 100%;
  margin: 20px 0;
  max-width: 640px;
}

.gist {
  max-height: 300px;
  max-height: 33vh;
  overflow: scroll;
}

.post-content img {
  max-height: 30rem;
  border-radius: 2px;
}